<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/assets :: headerFragment">
    <title id="pageTitle">O nás</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <h1 class="header text-center">Projekt Open data</h1>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row main-page-text">
                    <p>
                        V dnešní době je kladen velký důraz na snadný přístup k datům a jejich použití pro vlastní
                        účely.
                        Téměř v každé oblasti života jsou různé portály, pomocí kterých lze najít, prohlédnout a
                        stáhnout
                        data,
                        které nás zajímají.
                        Projekt Otevřená data se zabývá vybudováním otevřené datové infrastruktury v České republice.
                        Cílem projektu je zvýšit využití veřejně dostupných dat o zakázkách, smlouvách a fakturách firem
                        v
                        České
                        republice.
                    </p>
                    <p>
                        Hlavním sponzorem a iniciátorem projektu Otevřená data je Fond Otakara Motejla, který byl
                        založen v
                        roce
                        2012.
                        Fond podporuje neveřejné organizace, které přispívají k rozvoji právního státu a omezení
                        korupce.
                        Jedním z nejznámějších projektů Fondu je projekt Otevřená data a od roku 2017 Fond dosáhl
                        prosazení
                        zákona o
                        svobodném přístupu k informacím.
                    </p>
                    <p>
                        Tento webový portál byl vytvořen pro podporu projektu Open data v rámci bakalářské práci v roce
                        2018.
                        Portál má za cíl:
                    </p>
                    <ul>
                        <li>
                            zvěřejnit data, která nybyla předtím volně dostupná,
                        </li>
                        <li>
                            povolit přístup běžnému uživateli k údajům o statní správě,
                        </li>
                        <li>
                            zveřejnit informace o smlouvách, platbách, zakázkach a fakturach v České republice.
                        </li>
                    </ul>
                    <p>
                        Data, ke kterým poskytujeme přístup na našem webovém portálu, sbíráme z různých ministerstev
                        České republiky
                        a pak poskytujeme v novém, pohodlném pro další zpracování a prohlédnutí formátu.
                        Mezi nich patří:
                    </p>
                    <ul>
                        <li>
                            Ministerstvo financí České republiky,
                        </li>
                        <li>
                            Ministerstvo spravedelnosti České republiky,
                        </li>
                        <li>
                            Ministerstvo životního prostředí České republiky,
                        </li>
                        <li>
                            Ministerstvo kultury České republiky,
                        </li>
                        <li>
                            Ministerstvo pro místní rozvoj,
                        </li>
                        <li>
                            Ministerstvo dopravy a Státní fond dopravní infrastruktury.
                        </li>
                    </ul>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
</body>
</html>