<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/assets :: headerFragment">
    <title id="pageTitle">Connections</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <table class="table table-hover" id="dev-table">
        <thead>
        <tr>
            <th class="col-md-3 col-sm-3">Name</th>
            <th class="col-md-3 col-sm-3">Provider</th>
            <!--<th class="col-md-2 col-sm-2">Port</th>-->
            <th class="col-md-3 col-sm-3">Database name</th>
            <th class="col-md-3 col-sm-3">Username</th>
            <!--<th class="col-md-2 col-sm-2">Password</th>-->
        </tr>
        </thead>
        <tbody>
        <th:block th:each="connection : ${connections}">
            <tr>
                <td style="word-wrap: break-word">
                    <a href="#" th:text="${connection.name}"></a>
                </td>
                <td style="word-wrap: break-word">
                    <a href="#" th:text="${connection.provider}"></a>
                </td>
                <!--<td style="word-wrap: break-word">-->
                    <!--<a href="#" th:text="${connection.port}"></a>-->
                <!--</td>-->
                <td style="word-wrap: break-word">
                    <a href="#" th:text="${connection.dbName}"></a>
                </td>
                <td style="word-wrap: break-word">
                    <a href="#" th:text="${connection.username}"></a>
                </td>
                <!--<td style="word-wrap: break-word">-->
                    <!--<a href="#" th:text="${connection.password}"></a>-->
                <!--</td>-->
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>