<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/assets :: headerFragment">
    <title id="pageTitle">DB web viewer</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <h1 class="header text-center">Requested page doesn't exit</h1>
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="row main-page-text">
            <p>
                During the execution of request problem happened
            </p>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
</body>
</html>