<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/assets :: headerFragment">
    <title id="pageTitle">Domů</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <h1 class="header text-center">OpenDataCR.cz</h1>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row main-page-text">
                    <p>
                        Open Data Česká republika - je nový webový portál pro podporu projektu Open Data.
                        Projekt Open data se zabývá vybudováním otevřené datové infrastruktury v České republice.
                        Cílem projektu je zvýšit využití veřejně dostupných dat o zakázkách, smlouvách a fakturách firem
                        v České republice.
                    </p>
                    <p>
                        Data, ke kterým poskytujeme přístup na našem webovém portálu, sbíráme z různých ministerstev
                        České republiky
                        a pak poskytujeme v novém, pohodlném pro další zpracování a prohlédnutí formátu.
                        Mezi nich patří:
                    </p>
                    <ul>
                        <li>
                            Ministerstvo financí České republiky,
                        </li>
                        <li>
                            Ministerstvo spravedelnosti České republiky,
                        </li>
                        <li>
                            Ministerstvo životního prostředí České republiky,
                        </li>
                        <li>
                            Ministerstvo kultury České republiky,
                        </li>
                        <li>
                            Ministerstvo pro místní rozvoj,
                        </li>
                        <li>
                            Ministerstvo dopravy a Státní fond dopravní infrastruktury.
                        </li>
                    </ul>
                    Pusťte se do světa Otevřených dat s naším portálem.
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
</body>
</html>